[Unit]
Description=pacmir rsync from upstream arch linux mirrors

[Service]
Type=oneshot
ConfigurationDirectory=%p
CacheDirectory=pacmir
EnvironmentFile=-%E/%p/defaults.env
EnvironmentFile=-%E/%p/%i.defaults.env
ExecStart=/usr/bin/rsync --progress -rtlhH --safe-links --no-motd --exclude=.* ${REPOSITORY}/%i/ ${CACHE_DIRECTORY}/%i/

[Install]
RequiredBy=pacmir-mirror-rsync.service