[Unit]
Description=pacmir rsync from upstream arch linux mirrors

[Service]
Environment=RSYNC_OPTIONS="-rtlH -4 --safe-links --no-motd --exclude=.*"
EnvironmentFile=-%E/pacmir/defaults.env
EnvironmentFile=-%E/pacmir/%i.defaults.env
ExecStart=/usr/bin/rsync ${RSYNC_OPTIONS} ${REPOSITORY}/%i ${CACHE_DIRECTORY}/%i

[Install]
RequiredBy=pacmir-mirror-rsync.service