[Unit]
Description=hosted mirror for pacman repositories that uses torrents for package downloads

[Service]
ConfigurationDirectory=%p
CacheDirectory=pacmir
EnvironmentFile=-%E/%p/defaults.env
ExecStart=/usr/bin/pacmir mirror

[Install]
Also=pacmir-mirror-rsync.timer